<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p style="color:green;" font-weight: bold;> NBA Application <%= title %></p>
    <ul>
      <li class="list"><a href="/fantasy/fantasyList">View Fantasy Recommendations</a></li>
    </ul>
  </body>
</html>
